
.shade{
    width: 100%;
    display: flex;
    border-radius: 30px;
    margin: 2px;

    &_colour {
        width: 20px;
        height: 20px;
        border-radius: 30px;
    }

    &_name {
        font-size: 12px;
        margin-left: 10px;
        align-self: center;
        font-style: italic;
    }
}