@import "./../../variables";
@import "./../../mixins";

.makeup-card {
    border: 3px solid $teriary-color;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px $secondary-color;
    background-color: $primary-color;
    height: 600px;
    @include font(12px,$senary-color,normal);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_description {
    overflow-y: scroll;
    height: 100px;
    width: 260px;
    @include font(12px,$senary-color,normal)
    }

    &_colours {
        @include font(10px,$septenary-color,normal);
        justify-content: center;
        text-align: center;
    }

    &_brand {
        @include font(10px,$quartenernary-color,normal);
        font-weight: 600;
        font-style: italic;
        margin-bottom: 8px;
    }

    &_image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 200px;
    }

    &_image {
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    &_title {
        @include font(20px,$senary-color,normal);
        background-color: $secondary-color;
        padding: 10px;
    }
}


