.makeup-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_description {
    font-size: 12px;
    color: #666;
    overflow-y: scroll;
    height: 100px;
    width: 260px;
    }

    &_brand {
        font-size: 10px;
        color: #b3b3b3;
        font-weight: 600;
        font-style: italic;
        margin-bottom: 8px;
    }

    &_image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 200px;
    }

    &_image {
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    &_title {
        font-size: 20px;
        color: rgb(30, 128, 134);
        background-color: aliceblue;
        padding: 10px;
    }
}


