.NavButton {
    border: none;
    font-size: 15px;
    cursor: pointer; 
    color: rgb(30, 128, 134);
    background-color: aliceblue;
    padding: 5px; 
    width: auto;
    height: 50px;
    border-radius: 10px;
    margin: 4px;
}