@import "./../../variables";
@import "./../../mixins";
.NavButton {
    border: none;
    font-size: 15px;
    cursor: pointer; 
    background-color: $secondary-color;
    padding: 5px; 
    width: auto;
    height: 50px;
    border-radius: 10px;
    margin: 4px;
    @include font(12px,$septenary-color,bold)
}