.Navigation {
    background-color: rgb(161, 189, 189);
    min-height: 125px;
    display: flex;
    justify-content: flex-end;

    &_buttons {
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
}