.Navigation {
    background-color: rgb(161, 189, 189);
    min-height: 125px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    &_buttons {
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &_descriptor {
        background-color: aliceblue;
        width: 100%;
        height: 30px;
        text-align: center;
        color: black;
    }
    
}