@import "./../../variables";
@import "./../../mixins";

.Navigation {
    background-color: $quinary-color;
    min-height: 125px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    &_buttons {
        width: 75vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px;
    }

    &_descriptor {
        background-color: $secondary-color;
        width: 100%;
        padding: 10px;
        text-align: center;
        color: $septenary-color;
        @include font(15px,$septenary-color,bold)
    }
    
}