.shade-section {

    &_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    overflow-y: scroll;
    }

    &_title {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}