$primary-color:rgb(255, 255, 255);
$secondary-color: aliceblue;
$teriary-color:rgb(221, 246, 255);
$quartenernary-color:rgb(142, 126, 221);
$quinary-color:rgb(169, 208, 255);
$senary-color:rgb(30, 128, 134);
$septenary-color:rgb(0, 0, 0);
