@import "./../../variables";
@import "./../../mixins";

.Dashboard {
    margin: 0;
    background-color: $primary-color;
    display: flex;
    width: 75vw;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
}